@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

.footer {
    color: $white;
    padding-top: 1rem;
    background-color: $footer;
    overflow-x: hidden;

    // width: 100%;
}

.contact-box {

    &__icon {
        width: 4.5rem;
        stroke: $primary;
        padding-top: 0.3rem;
    }

    &__info {

        &--title {
            color:$white;
            text-decoration: none;
        }

        &--subtitle {
            color: $gray-600;
        }
    }
}

.social{
    // width: 100.8%;
    background-color: #212121;
    font-size: 1em;
    padding: 1rem;
    padding-left: 10rem;

    &-icon{
        padding: 0px 20px;
    }
}